{% for post in paginator.posts %}
  {% include entry.html %}
{% endfor %}

{% comment %}Determine current language from page{% endcomment %}
{% assign current_lang = page.lang | default: site.default_lang | default: "pl" %}

{% comment %}Select appropriate translation set{% endcomment %}
{% if current_lang == "en" %}
  {% assign t = site.data.theme.t_en %}
{% elsif current_lang == "de" %}
  {% assign t = site.data.theme.t_de %}
{% else %}
  {% assign t = site.data.theme.t %}
{% endif %}

<!-- Pagination links -->
<nav class="pager">
  <ul>
    <!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous"><span class="icon icon--arrow-right">{% include icon-arrow-left.svg %}</span> {{ t.newer | default: 'Newer' }}</a></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ t.older | default: 'Older' }} <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></li>
    {% endif %}
  </ul>
</nav>