/*
============================
Name:  Hosue -Single Property HTML Template
Version: 1.0.0
Description: Hosue -Single Property HTML Template
Author: Vikiglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

* {
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Plus Jakarta Sans', system-ui;
}
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Vidaloka&display=swap');

h1 ,h2 , h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', system-ui;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    font-family: 'Plus Jakarta Sans', system-ui;
}
body, html {
    height: 100%;
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}
.body {
    font-size: 14px;
}
.wrapper {
    position: relative;
    height: 100%;
}
.left-side {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 300px;
    height: 100%;   
    background: #22313F;
}
.logo {
    text-align: center;
    height: 170px;
    line-height: 170px;
    box-shadow: inset 0 0 50px 0 #6083A9;
    background: #fff;
}
.logo a {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #16453D;
    font-family: 'Plus Jakarta Sans', system-ui;
}
.left-content {
    text-align: right;
}
.left-content ul li {
    border-bottom-color: #434956;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: block;
    height: 50px;
}
.left-content ul li.active {
    background: #16453D;
}

.left-content ul li a {
    color: #fff;
    line-height: 50px;
    padding-right: 30px;
    display: block;
    text-decoration: none;
    font-family:'Plus Jakarta Sans', system-ui ;
}
.left-content ul li a span {
    border-right-color: #d1ccd7;
    border-right-style: solid;
    border-right-width: 1px;
    color: #fff;
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', system-ui;
}
.copyright {
	background-color: #16453D;
	border-top: 1px solid #16453D;
	bottom: 0;
	color: #ffffff;
	left: 0;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}
.copyright p {
    margin-bottom: 0px;
    font-family: 'Plus Jakarta Sans', system-ui;
}
.copyright p a {
    color: #fff;
    font-weight: 700;
}
.copyright p span {
    display: block;
    font-family: 'Plus Jakarta Sans', system-ui;
}
.right-side {
    padding-left: 300px;
}
.right-content {
    padding: 50px;
}
.content {
    display: none;
}
.content.active {
    display: block;
}

pre {
    background: url(../img/pre_bg.png);
    line-height: 19px;
    text-align: left;
    padding: 0px;
    margin-top: 35px;
    font-size: 13px;
    margin-bottom: 35px;
}
.content a {
  color: #16182C;
  margin-right: 15px;
  font-family: 'Plus Jakarta Sans', system-ui;
}
.content h1 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
    font-family: 'Plus Jakarta Sans', system-ui;
}

#one > h1 span {
  color: #16453D;
  font-family: 'Plus Jakarta Sans', system-ui;
}

.content#source > ul li span {
    font-weight: 700;
    display: block;
    font-family: 'Plus Jakarta Sans', system-ui;
}
.content#source > ul li > ul{
    padding-left: 25px;
}